<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common :: meta_header('書籍登録',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/add.css}" />
    <script type="text/javascript" th:src="@{/js/book/add.js}"></script>
</head>

<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍登録</div>
                <div class="page_contents">
                    <form id="book_register_form" th:object="${bookMstDto}" th:action="@{/book/add}" method="post">
                        <div class="mb30_flexarea">
                            <span>
                                <p>*は必須項目です</p>
                            </span>
                            <span>
                                <a th:href="@{/book/index}" class="link">← 一覧へ戻る</a>
                            </span>
                         </div>
                          <div class="form-group"> 
                            <label for="title">書籍名<span class="highlight">*</span></label><br>                     
                            <input type="text" class="input-long" id="title" th:field="*{title}" placeholder="書籍名を入力"/><br>
                            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>

                            <label for="ISBN">ISBN<span class="highlight">*</span></label><br>
                            <input type="text" class="input-long" id="isbn" th:field="*{isbn}" placeholder="ISBNを入力"/><br>
                            <div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="error"></div>
                          </div>
                          <button class="submit_btn">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>